<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#000000">

  <link rel="shortcut icon" href="{{ "/favicon.ico?" | prepend: site.baseurl }}">
  <link rel="icon" sizes="16x16 32x32 64x64" href="{{ "/favicon.ico?" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="196x196" href="{{ 'favicon-192.png' | asset_path | append: '?' }}">
  <link rel="icon" type="image/png" sizes="160x160" href="{{ 'favicon-160.png' | asset_path | append: '?' }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ 'favicon-96.png' | asset_path | append: '?' }}">
  <link rel="icon" type="image/png" sizes="64x64" href="{{ 'favicon-64.png' | asset_path | append: '?' }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32.png' | asset_path | append: '?' }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16.png' | asset_path | append: '?' }}">
  <link rel="apple-touch-icon" href="{{ 'favicon-57.png' | asset_path | append: '?' }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ 'favicon-114.png' | asset_path | append: '?' }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ 'favicon-72.png' | asset_path | append: '?' }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ 'favicon-144.png' | asset_path | append: '?' }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ 'favicon-60.png' | asset_path | append: '?' }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ 'favicon-120.png' | asset_path | append: '?' }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ 'favicon-76.png' | asset_path | append: '?' }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ 'favicon-152.png' | asset_path | append: '?' }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'favicon-180.png' | asset_path | append: '?' }}">

  <title>{% if page.title %}{{ page.title | escape | append: ' | ' | append: site.title }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/assets/css/primer.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe.min.css" integrity="sha256-rlldBDOCxqXAE1fRopHG2SqpgWisq17/3Oleo+1CBKo=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/default-skin/default-skin.min.css" integrity="sha256-kQW7k22C0skJMSPxgEI2VHR0LPHeygi8SRYNvV/DB2w=" crossorigin="anonymous" />
  <script src="{{ "assets/js/turbolinks.js" | relative_url }}" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.1.1/lunr.min.js" integrity="sha256-zhOWzIBi18E7Gu3HoaHA5g4HDXPMdu++IrFs0F42o7c=" crossorigin="anonymous"></script>
</head>
